.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  padding: 40px;
  border-radius: 20px;
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976,
    #bbd2c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976,
    #bbd2c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button {
  width: 100%;
  padding: 10px;
  transition: all 1s ease;
}

.button:hover {
  background: #318aac;
  color: #fff !important;
}

.title {
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: 40px;
}
